{% load static tailwind_tags %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'components/fontawesome.html' %}
    <script defer src="{% static 'JS/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}" />
    {% tailwind_css %}
    <title>Sign in</title>
  </head>
  <body class="bg-gray-50">
    <main class="flex items-center justify-center h-screen">
      <div class="container mx-auto p-8 lg:w-80 m-auto lg:shadow-xl rounded-lg">
        <form method="post" id="form_login">
          {% csrf_token %}

          <h1 class="text-center text-3xl p-5">Login</h1>
          <hr />

          <div class="mb-4 conataier_form_login w-full p-5">
            {{form}}
            <div class="mt-3">
              <a href="/accounts/signup/" class="text-blue-700 underline relative bottom-5">Sign up</a>
            </div>

            <!-- Botón para iniciar sesión con Google -->
            <a href="#" class="block w-full bg-white text-gray-700 p-3 rounded-lg shadow-md hover:bg-gray-100">
              <div class="flex items-center">
                <img src="https://cdn.icon-icons.com/icons2/729/PNG/512/google_icon-icons.com_62736.png" alt="Google icon" class="mr-2" width="50px" />
                <p>Iniciar sesión con Google</p>
              </div>
            </a>
          </div>

          <div class="flex justify-center">
            <button class="bg-blue-500 text-white p-3 w-80 rounded-xl">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
