{% load static tailwind_tags %} {% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'components/fontawesome.html' %}
    <title>Shopping Cart</title>
    {% tailwind_css %}
  </head>
  <body>
    {% include 'components/header.html' %}
    <main class="container mx-auto p-3">
      <div class="p-3" id="shopping-cart-container">
        {% for shopping_item in shopping_items %}
        <a
          href="{% url 'detailtProduct' shopping_item.product.uuid %}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="p-3 m-3 relative">
            <a
              href="/shopping_cart/delete/{{ shopping_item.id }}"
              class="absolute right-3 top-0 text-2xl"
            >
              <i class="fa-solid fa-trash"></i>
            </a>
            <div
              class="container p-3 flex flex-wrap w-full justify-between mt-3"
            >
              {% if shopping_item.product.images.all %}
              <a href="{% url "detailtProduct" shopping_item.product.uuid %}" target="_blank" rel="noopener noreferrer">
                <div class="flex flex-wrap">
                  <img
                    src="{{ shopping_item.product.images.first.image.url }}"
                    alt="{{ shopping_item.product.name }}"
                    width="150px"
                    class="rounded-md images_product"
                  />
                  <div class="m-3">
                    <h2 class="text-2xl">
                      {{ shopping_item.product.name }} - {{shopping_item.product.model }}
                    </h2>
                    <p>
                      {{ shopping_item.product.description |truncatechars:70 }}
                    </p>
                  </div>
                </div>
              </a>
              {% endif %}
              <div>
                <ul>
                  <li>
                    <form method="post" id="shopping_item_quantity">
                      {% csrf_token %}
                      <div>
                        <label for="quantity"><b>Cantidad:</b></label>
                        <button
                          type="button"
                          class="remove_quantitys border rounded-lg p-1"
                        >
                          <i class="fa-solid fa-minus"></i>
                        </button>
                        <input
                          style="width: 4.5rem"
                          disabled
                          type="number"
                          name="quantity"
                          id="quantity"
                          value="{{ shopping_item.quantity }}"
                          min="1"
                          max="100"
                          class="rounded-lg"
                        />
                        <button
                          type="button"
                          class="add_quantity border rounded-lg p-1"
                        >
                          <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                    </form>
                  </li>
                  <li class="flex relative mt-3">
                    <b>Precio:</b>
                    <p class="absolute right-12 text-2xl">
                      {{ shopping_item.product.price }}
                    </p>
                  </li>
                  <li class="flex relative mt-3">
                    <b>Subtotal: </b>
                    {% with price=shopping_item.product.price %}
                    <p class="absolute right-12 text-2xl">
                      {{ price|multiply:shopping_item.quantity }}
                    </p>
                    {% endwith %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
        <hr />
        {% empty %}
        <div>No items in the shopping cart.</div>
        {% endfor %} {% if shopping_items %}
        <div class="p-3 m-3">
          <p class="text-2xl total_prices">Total:</p>
        </div>
        <div class="w-100 flex justify-center">
          <button
            type="button"
            class="bg-orange-300 rounded-lg p-3 text-xl w-80 lg:hover:bg-gray-800 transition-all duration-500 ease-in-out"
          >
            Proceder al pago
          </button>
        </div>
        {% endif %}
      </div>
    </main>
  </body>
</html>
