{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'components/fontawesome.html' %}
    <script defer src="{% static 'JS/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}" />
    {% tailwind_css %}
    <title>Sign in</title>
  </head>
  <body>
    <main class="container mx-auto">
      <div class="container p-3 m-3 lg:shadow ">
        <form method="post" id="form_login">
          {% csrf_token %}

          <div class="mb-4 conataier_form_login">{{form}}</div>
          <div>
            <button class="bg-blue-500 text-white p-2">Sign in</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
